* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(/fonts/Pokemon-Solid.ttf);
  font-family: pokemon-solid;
}
@font-face {
  src: url(/fonts/Pokemon-Hollow.ttf);
  font-family: pokemon-hallow;
}

body {
  background-image: url(/images/try5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pokedex-heading {
  font-family: pokemon-solid;
  color: #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 5px;
  font-size: 80px;

  margin-top: 50px;
}

.pokemon-modal-container {
}

.pokemon-modal {
}

.pokemon-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 20px; */
  place-items: center;
  margin: 50px;
  margin-top: 0;
  padding: 30px;
  height: 100%;
  /* overflow-y: scroll; */
}

.pokemon-image-container {
  display: flex;
  align-items: center;
  margin: 10px;
  background-image: url(/images/pokeball1.png);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
}

.pokemon-image {
  height: 150px;
  width: 150px;
  object-fit: contain;

  cursor: pointer;
}

.indicator {
  position: fixed;
  top: 50%;
  z-index: 1;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;
}

.prev {
  right: 50px;
}
.next {
  left: 50px;
}

@media screen and (max-width: 600px) {
  .pokemon-cards-container {
  }
}
