* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(/fonts/Pokemon-Solid.ttf);
  font-family: pokemon-solid;
}
@font-face {
  src: url(/fonts/Pokemon-Hollow.ttf);
  font-family: pokemon-hallow;
}

body {
  background-image: url(/images/index.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pokedex-heading {
  font-family: pokemon-solid;
  color: #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 5px;
  font-size: 80px;

  margin-top: 50px;
  text-align: center;
}

.overflow-div {
  height: 65vh;
  width: 90%;
  overflow: hidden;
}

.pokemon-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  place-items: center;
  height: 100%;
  overflow: scroll;
}

.pokemon-cards-container::-webkit-scrollbar {
  display: none;
}

.pokemon-image-container {
  display: flex;
  align-items: center;
  margin: 10px;
  background-image: url(/images/Pokeball.png);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;

  /* flip image */
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.pokemon-image-container:hover {
  transform: rotateY(180deg);
}

.pokemon-image {
  height: 150px;
  width: 150px;
  object-fit: contain;

  cursor: pointer;
}

.back-pic {
  position: absolute;
  backface-visibility: hidden;
}

.front-pic {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.indicator {
  position: fixed;
  top: 50%;
  z-index: 1;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;

  background: rgb(238, 21, 21);
}

.indicator:hover {
  color: white;
  background: black;
}

.prev {
  right: 50px;
}
.next {
  left: 50px;
}

/* modal */
.pokemon-modal-container {
}

.pokemon-modal {
}

@media screen and (max-width: 600px) {
  .pokemon-cards-container {
  }
}
