* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(/fonts/Pokemon-Solid.ttf);
  font-family: pokemon-solid;
}
@font-face {
  src: url(/fonts/Pokemon-Hollow.ttf);
  font-family: pokemon-hallow;
}

body {
  background-image: url(/images/index.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.pokedex-heading {
  font-family: pokemon-solid;
  color: #2a75bb;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 5px;
  font-size: 80px;

  margin-top: 50px;
  text-align: center;
}

.overflow-div {
  height: 65vh;
  width: 90%;
  overflow: hidden;
}

.pokemon-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  place-items: center;
  height: 100%;
  overflow: scroll;
}

.pokemon-cards-container::-webkit-scrollbar {
  display: none;
}

.pokemon-image-container {
  display: flex;
  align-items: center;
  margin: 10px;
  background-image: url(/images/Pokeball.png);
  background-size: cover;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;

  /* flip image */
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.pokemon-image-container:hover {
  transform: rotateY(180deg);
  cursor: zoom-in;
}

.pokemon-image {
  height: 150px;
  width: 150px;
  object-fit: contain;
  pointer-events: none;
}

.back-pic {
  position: absolute;
  backface-visibility: hidden;
}

.front-pic {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.indicator {
  position: fixed;
  top: 50%;
  z-index: 1;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;

  background: rgb(238, 21, 21);
}

.indicator:hover {
  color: white;
  background: black;
}

.prev {
  right: 50px;
}
.next {
  left: 50px;
}

/* modal */
.pokemon-modal-container {
}

.pokemon-modal {
  opacity: 0;
  position: absolute;
  z-index: 10;
  place-self: center;
  transition: 0.5s ease;
  pointer-events: none;
}

.pokemon-modal.active {
  pointer-events: initial;
  opacity: 1;
  display: flex;
  justify-content: center;
  background-color: white;

  /* width: 100%; */
  /* height: 50vh; */
  /* object-fit: cover; */
  z-index: 2;
  /* top: 0; */
  position: fixed;
}

.back-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  position: fixed;
  background: rgba(29, 53, 87, 0.692);
  width: 100%;
  height: 100%;
  z-index: 2;

  cursor: zoom-out;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  height: 60vh;
  width: 30vw;
  padding: 10px;
  border-radius: 20px;

  background: rgb(238, 21, 21);
  background: radial-gradient(
    circle,
    rgba(238, 21, 21, 1) 0%,
    rgba(240, 0, 0, 1) 61%,
    rgba(0, 0, 0, 1) 100%
  );
}

.modal-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;

  color: white;
  font-family: pokemon-hallow;
}

.pokemon-name {
}

.pokemon-modal-picture {
  height: 150px;
  width: 150px;
  object-fit: contain;
  align-self: center;
}

.modal-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: black;
  height: 30vh;
  /* width: 20vw; */
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .pokemon-cards-container {
  }
}
