* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url(/fonts/Pokemon-Solid.ttf);
  font-family: pokemon1;
}
@font-face {
  src: url(/fonts/Pokemon-Hollow.ttf);
  font-family: pokemon2;
}

body {
  background-image: url(/images/try5.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

h1 {
  font-family: pokemon1;
  color: #2a75bb;
  margin: 2px;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 5px;
  font-size: 80px;
}
h2 {
  font-family: pokemon1;
  color: #2a75bb;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
}
.nameh2 {
  font-family: sans-serif;
}
.aspan {
  font-family: pokemon1;
  color: #2a75bb;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
}
.abilityspan {
  font-family: sans-serif;
  margin: 2px;
}
.mspan {
  font-family: pokemon1;
  color: #2a75bb;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
}
.movespan {
  font-family: sans-serif;
}
.tspan {
  font-family: pokemon1;
  color: #2a75bb;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
}
.typespan {
  font-family: sans-serif;
  margin: 2px;
}
.hspan {
  font-family: pokemon1;
}
.heightspan {
  font-family: sans-serif;
}
.wspan {
  font-family: pokemon1;
}
.weightspan {
  font-family: sans-serif;
}
.pokecard {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;

  background: rgb(238, 21, 21);
  background: radial-gradient(
    circle,
    rgba(238, 21, 21, 1) 0%,
    rgba(240, 0, 0, 1) 61%,
    rgba(0, 0, 0, 1) 100%
  );
}
.pokepic {
  height: 50vh;
  width: 25vw;
}
.pokemon-info {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 20px;
}

.pokebtn {
  text-align: center;
  margin: 5px;
  background: transparent;
  background-image: url(/images/pokeball1.png);
  object-fit: cover;
  height: 15vh;
  width: 10%;
  border: none;
  cursor: pointer;

  font-family: pokemon1;
  color: #2a75bb;

  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 1px;
  font-size: 25px;
}

.npbtn {
  font-size: 70px;
  background: transparent;
  border: none;
  color: #2a75bb;
  margin: 20px;
  -webkit-text-fill-color: #ffcb05;
  -webkit-text-stroke-width: 5px;
}
